<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <form action="item.html" th:action method="post" th:object="${item}">
        <div>
            <label for="itemName">상품명</label>
            <input type="text" id="itemName" th:field="*{itemName}" class="form-control" placeholder="이름을 입력하세요">
<!--            th:field 를 하면 해당 부분 id 와 name의 속성값을 자동으로 만들어준다. 현재 코드에서는 label쪽에 빨간 줄이 뜨기 때문에 name만 삭제-->
<!--            <input type="text" id="itemName" name="itemName" th:field="${item.itemName}" class="form-control" placeholder="이름을 입력하세요">-->
<!--            <input type="text" id="itemName" name="itemName" th:field="${item.itemName}" class="form-control" placeholder="이름을 입력하세요">-->
        </div>
        <div>
            <label for="price">가격</label>
            <input type="text" id="price" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="text" id="quantity" th:field="*{quantity}" class="form-control" placeholder="수량을 입력하세요">
        </div>

        <hr class="my-4">
        <!-- single checkbox -->
        <!-- 체크 박스 - 단일 1강-->
<!--        <div>판매 여부</div>
        <div>
            <div class="form-check">
                <input type="checkbox" id="open" name="open" class="form-check-input">
                <input type="hidden" name="_open" value="on" /> &lt;!&ndash; 히든 필드 추가 &ndash;&gt;
                &lt;!&ndash;
                Spring MVC에서 트릭으로 사용 체크박스에 값이 없으면 _open값이 on으로 넘어오면 open부분이 false로 데이터가 들어옴
                체크박스가 체크되면 open=on &_open=on이 넘어옴 이 때 _open는 무시
                _open=on만 넘어오면 open값이 체크되지 않았다는 것을 인식 -> Boolean 타입을 찍으보면 false로 넘어옴 ( null이 아니라 )

                매번 이렇게 히든 태그를 만들어서 해야하는가? -> 타임리프가 이를 해결

                &ndash;&gt;
                <label for="open" class="form-check-label">판매 오픈</label>
            </div>
        </div>-->
        <!-- 체크박스 단일 2강 타임리프로 디벨롭-->
        <div>판매 여부</div>
        <div>
            <div class="form-check">
                <input type="checkbox" id="open" th:field="*{open}" class="form-check-input">
                <!--
                타임리프가 히든 필드를 자동으로 생성해준다.
                -->
                <label for="open" class="form-check-label">판매 오픈</label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>